extracted/Workflows/Flow-ATSCommitteeMemberApproval-NotifyCompliance-EF6C3CB5-FA0B-F111-8406-000D3ABC01CC.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "jlem_ConnRef_ATS_Tracker_Sharepoint"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_office365_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "jlem_ConnRefATSTrackerOutlook"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "ATS_Environment (jlem_ATS_Environment)": {
          "defaultValue": "DEV",
          "type": "String",
          "metadata": {
            "schemaName": "jlem_ATS_Environment",
            "description": "DEV | PROD"
          }
        },
        "ENV_ATS_SharePointList_Roles (jlem_ENV_ATS_SharePointList_Roles)": {
          "defaultValue": "d83f42f7-04a7-4e5e-ad36-9a6dd976c74b",
          "type": "String",
          "metadata": {
            "schemaName": "jlem_ENV_ATS_SharePointList_Roles"
          }
        },
        "ENV_ATS_SharePointList_CommitteeApprovals (jlem_ENV_ATS_SharePointList_CommitteeApprovals)": {
          "defaultValue": "b9bc2667-83be-4189-bd08-e3140cb42136",
          "type": "String",
          "metadata": {
            "schemaName": "jlem_ENV_ATS_SharePointList_CommitteeApprovals"
          }
        },
        "ENV_ATS_Tracker_SharePointSite (jlem_ENV_ATS_Tracker_SharePointSite)": {
          "defaultValue": "https://ezpada.sharepoint.com/sites/ats",
          "type": "String",
          "metadata": {
            "schemaName": "jlem_ENV_ATS_Tracker_SharePointSite"
          }
        },
        "ENV_ATS_App_URL (jlem_ENV_ATS_App_URL)": {
          "defaultValue": "https://apps.powerapps.com/play/e/163728a9-86f2-e32a-92ec-34fb2671bb5b/app/c3fcfafe-dedf-4dd7-a474-dd1aa6a1862b?tenantId=74a701ce-2508-4273-a59a-ce1aca46ce0f",
          "type": "String",
          "metadata": {
            "schemaName": "jlem_ENV_ATS_App_URL",
            "description": "ATS Tracker Application URL"
          }
        }
      },
      "triggers": {
        "When_an_item_is_created_or_modified": {
          "recurrence": {
            "interval": 1,
            "frequency": "Minute"
          },
          "splitOn": "@triggerOutputs()?['body/value']",
          "metadata": {
            "operationMetadataId": "42a60e51-f656-4c64-a8b6-038512deb120"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline_1",
              "operationId": "GetOnUpdatedItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@parameters('ENV_ATS_Tracker_SharePointSite (jlem_ENV_ATS_Tracker_SharePointSite)')",
              "table": "@parameters('ENV_ATS_SharePointList_CommitteeApprovals (jlem_ENV_ATS_SharePointList_CommitteeApprovals)')"
            },
            "authentication": "@parameters('$authentication')"
          },
          "conditions": [
            {
              "expression": "@equals(triggerBody()?['Decision']?['Value'], 'Approved')"
            }
          ]
        }
      },
      "actions": {
        "Scope": {
          "actions": {
            "Get_Compliance_Users": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "a1b2c3d4-e5f6-7g8h-9i0j-1k2l3m4n5o6p"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline_1",
                  "operationId": "GetItems",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "@parameters('ENV_ATS_Tracker_SharePointSite (jlem_ENV_ATS_Tracker_SharePointSite)')",
                  "table": "@parameters('ENV_ATS_SharePointList_Roles (jlem_ENV_ATS_SharePointList_Roles)')",
                  "$filter": "Role eq 'Compliance'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "For_each_Compliance_User": {
              "foreach": "@outputs('Get_Compliance_Users')?['body/value']",
              "actions": {
                "Check_if_Production": {
                  "actions": {
                    "Send_email_Production": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "b2c3d4e5-f6g7-8h9i-0j1k-2l3m4n5o6p7q"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_office365_1",
                          "operationId": "SendEmailV2",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                        },
                        "parameters": {
                          "emailMessage/To": "@items('For_each_Compliance_User')?['User/Email']",
                          "emailMessage/Subject": "[ATS Committee Member Approved] @{triggerBody()?['committeemember/DisplayName']} - @{triggerBody()?['Title']}",
                          "emailMessage/Body": "<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"margin: 0; padding: 0; font-family: Montserrat, Verdana, system-ui, sans-serif; background-color: #f5f5f5;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width: 600px; margin: 0 auto; background-color: #ffffff;\">\n        <tr>\n            <td style=\"background-color: #25303B; padding: 20px 30px;\">\n                <h1 style=\"color: #ffffff; margin: 0; font-size: 22px; font-weight: 600;\">Committee Member Approval</h1>\n            </td>\n        </tr>\n        <tr>\n            <td style=\"background-color: #10B981; height: 4px;\"></td>\n        </tr>\n        <tr>\n            <td style=\"padding: 30px;\">\n                <p style=\"color: #25303B; font-size: 14px; line-height: 1.6; margin: 0 0 20px 0;\">A Committee member has approved an ATS request. Please review the approval.</p>\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border: 1px solid #E5E7EB; border-radius: 4px;\">\n                    <tr><td colspan=\"2\" style=\"background-color: #F8F9FA; padding: 12px 16px; border-bottom: 1px solid #E5E7EB;\"><strong style=\"color: #25303B; font-size: 14px;\">Approval Details</strong></td></tr>\n                    <tr><td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; width: 140px; color: #6B7280; font-size: 13px;\">Request</td><td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #25303B; font-size: 13px; font-weight: 600;\">@{triggerBody()?['Title']}</td></tr>\n                    <tr><td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #6B7280; font-size: 13px;\">Approved By</td><td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #25303B; font-size: 13px;\"><span style=\"display: inline-block; background-color: #10B981; color: white; padding: 4px 12px; border-radius: 4px; font-weight: 600;\">@{triggerBody()?['committeemember/DisplayName']}</span></td></tr>\n                    <tr><td style=\"padding: 12px 16px; color: #6B7280; font-size: 13px;\">Decision</td><td style=\"padding: 12px 16px; color: #25303B; font-size: 13px;\">@{triggerBody()?['Decision']?['Value']}</td></tr>\n                </table>\n                <div style=\"text-align: center; margin-top: 30px;\">\n                    <a href=\"@{parameters('ENV_ATS_App_URL (jlem_ENV_ATS_App_URL)')}\" style=\"display: inline-block; background-color: #3B82F6; color: white; padding: 12px 24px; text-decoration: none; border-radius: 4px; font-weight: 600;\">Open ATS Tracker</a>\n                </div>\n            </td>\n        </tr>\n        <tr>\n            <td style=\"background-color: #25303B; padding: 20px 30px;\">\n                <p style=\"color: #9CA3AF; font-size: 12px; line-height: 1.5; margin: 0;\">This is an automated notification from the ATS Management System.<br>Please do not reply to this email.</p>\n            </td>\n        </tr>\n    </table>\n</body>\n</html>",
                          "emailMessage/Importance": "Normal"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "Send_email_Development": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "c3d4e5f6-g7h8-9i0j-1k2l-3m4n5o6p7q8r"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_office365_1",
                            "operationId": "SendEmailV2",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                          },
                          "parameters": {
                            "emailMessage/To": "jan.lemon@ezpada.com",
                            "emailMessage/Subject": "[DEV] [ATS Committee Member Approved] @{triggerBody()?['committeemember/DisplayName']} - @{triggerBody()?['Title']}",
                            "emailMessage/Body": "<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"margin: 0; padding: 0; font-family: Montserrat, Verdana, system-ui, sans-serif; background-color: #f5f5f5;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width: 600px; margin: 0 auto; background-color: #ffffff;\">\n        <tr>\n            <td style=\"background-color: #25303B; padding: 20px 30px;\">\n                <h1 style=\"color: #ffffff; margin: 0; font-size: 22px; font-weight: 600;\">Committee Member Approval</h1>\n                <p style=\"color: #FCD34D; margin: 10px 0 0 0; font-size: 12px; font-weight: 600;\">DEVELOPMENT ENVIRONMENT</p>\n            </td>\n        </tr>\n        <tr>\n            <td style=\"background-color: #10B981; height: 4px;\"></td>\n        </tr>\n        <tr>\n            <td style=\"padding: 30px;\">\n                <div style=\"background-color: #FEF3C7; border-left: 4px solid #F59E0B; padding: 12px 16px; margin-bottom: 20px;\">\n                    <p style=\"margin: 0; color: #92400E; font-size: 13px; font-weight: 600;\">DEV MODE: This email would be sent to Compliance team in production</p>\n                    <p style=\"margin: 8px 0 0 0; color: #92400E; font-size: 12px;\">Intended recipient: @{items('For_each_Compliance_User')?['User/Email']}</p>\n                </div>\n                <p style=\"color: #25303B; font-size: 14px; line-height: 1.6; margin: 0 0 20px 0;\">A Committee member has approved an ATS request. Please review the approval.</p>\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border: 1px solid #E5E7EB; border-radius: 4px;\">\n                    <tr><td colspan=\"2\" style=\"background-color: #F8F9FA; padding: 12px 16px; border-bottom: 1px solid #E5E7EB;\"><strong style=\"color: #25303B; font-size: 14px;\">Approval Details</strong></td></tr>\n                    <tr><td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; width: 140px; color: #6B7280; font-size: 13px;\">Request</td><td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #25303B; font-size: 13px; font-weight: 600;\">@{triggerBody()?['Title']}</td></tr>\n                    <tr><td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #6B7280; font-size: 13px;\">Approved By</td><td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #25303B; font-size: 13px;\"><span style=\"display: inline-block; background-color: #10B981; color: white; padding: 4px 12px; border-radius: 4px; font-weight: 600;\">@{triggerBody()?['committeemember/DisplayName']}</span></td></tr>\n                    <tr><td style=\"padding: 12px 16px; color: #6B7280; font-size: 13px;\">Decision</td><td style=\"padding: 12px 16px; color: #25303B; font-size: 13px;\">@{triggerBody()?['Decision']?['Value']}</td></tr>\n                </table>\n                <div style=\"text-align: center; margin-top: 30px;\">\n                    <a href=\"@{parameters('ENV_ATS_App_URL (jlem_ENV_ATS_App_URL)')}\" style=\"display: inline-block; background-color: #3B82F6; color: white; padding: 12px 24px; text-decoration: none; border-radius: 4px; font-weight: 600;\">Open ATS Tracker</a>\n                </div>\n            </td>\n        </tr>\n        <tr>\n            <td style=\"background-color: #25303B; padding: 20px 30px;\">\n                <p style=\"color: #9CA3AF; font-size: 12px; line-height: 1.5; margin: 0;\">This is an automated notification from the ATS Management System.<br>Please do not reply to this email.</p>\n            </td>\n        </tr>\n    </table>\n</body>\n</html>",
                            "emailMessage/Importance": "Normal"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@parameters('ATS_Environment (jlem_ATS_Environment)')",
                      "PROD"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d4e5f6g7-h8i9-0j1k-2l3m-4n5o6p7q8r9s"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Get_Compliance_Users": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e5f6g7h8-i9j0-1k2l-3m4n-5o6p7q8r9s0t"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "71b0a4cf-72e3-448f-8c3f-758681046f92"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}