extracted/Workflows/Flow-ATSTeamApproval-NotifyCompliance-A7B5E842-C901-4D22-9A17-3F8D61A4BC7E.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "jlem_ConnRef_ATS_Tracker_Sharepoint"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_office365_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "jlem_ConnRefATSTrackerOutlook"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "ATS_Environment (jlem_ATS_Environment)": {
          "defaultValue": "DEV",
          "type": "String",
          "metadata": {
            "schemaName": "jlem_ATS_Environment",
            "description": "DEV | PROD"
          }
        },
        "ENV_ATS_SharePointList_Roles (jlem_ENV_ATS_SharePointList_Roles)": {
          "defaultValue": "d83f42f7-04a7-4e5e-ad36-9a6dd976c74b",
          "type": "String",
          "metadata": {
            "schemaName": "jlem_ENV_ATS_SharePointList_Roles"
          }
        },
        "ENV_ATS_SharePointList_Requests (jlem_ENV_ATS_SharePointList_Requests)": {
          "defaultValue": "8abbb77f-a11b-4bce-bde7-c87023abbd60",
          "type": "String",
          "metadata": {
            "schemaName": "jlem_ENV_ATS_SharePointList_Requests"
          }
        },
        "ENV_ATS_SharepointSite (jlem_ENV_ATS_SharepointSite)": {
          "defaultValue": "https://ezpada.sharepoint.com/sites/ats",
          "type": "String",
          "metadata": {
            "schemaName": "jlem_ENV_ATS_SharepointSite"
          }
        }
      },
      "triggers": {
        "When_an_item_is_created_or_modified": {
          "recurrence": {
            "interval": 1,
            "frequency": "Minute"
          },
          "splitOn": "@triggerOutputs()?['body/value']",
          "metadata": {
            "operationMetadataId": "a7b5e842-c901-4d22-9a17-3f8d61a4bc7e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline_1",
              "operationId": "GetOnUpdatedItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@parameters('ENV_ATS_SharepointSite (jlem_ENV_ATS_SharepointSite)')",
              "table": "@parameters('ENV_ATS_SharePointList_Requests (jlem_ENV_ATS_SharePointList_Requests)')",
              "triggerFields": "ITStatus,MarketRiskStatus,CommitteeStatus"
            },
            "authentication": "@parameters('$authentication')"
          },
          "conditions": [
            {
              "expression": "@or(or(equals(triggerBody()?['ITStatus']?['Value'], 'Approved'), equals(triggerBody()?['MarketRiskStatus']?['Value'], 'Approved')), equals(triggerBody()?['CommitteeStatus']?['Value'], 'Approved'))"
            }
          ]
        }
      },
      "actions": {
        "Scope": {
          "actions": {
            "Get_changes_for_item": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "a9e5c7b3-d8f2-4e21-b6c9-1f8d4a2b7e5c"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline_1",
                  "operationId": "GetItemChanges",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "@parameters('ENV_ATS_SharepointSite (jlem_ENV_ATS_SharepointSite)')",
                  "table": "@parameters('ENV_ATS_SharePointList_Requests (jlem_ENV_ATS_SharePointList_Requests)')",
                  "id": "@triggerBody()?['ID']",
                  "since": "@trigger()?['outputs']?['body/{TriggerWindowStartToken}']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Determine_which_team_approved": {
              "runAfter": {
                "Get_changes_for_item": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b8c7d943-e812-4f23-a1c5-2e9f3a6d5c8a"
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "ApprovedTeam",
                    "type": "string",
                    "value": "@{if(and(outputs('Get_changes_for_item')?['body/HasColumnChanged:ITStatus'], equals(triggerBody()?['ITStatus']?['Value'], 'Approved')), 'IT', if(and(outputs('Get_changes_for_item')?['body/HasColumnChanged:MarketRiskStatus'], equals(triggerBody()?['MarketRiskStatus']?['Value'], 'Approved')), 'Market Risk', if(and(outputs('Get_changes_for_item')?['body/HasColumnChanged:CommitteeStatus'], equals(triggerBody()?['CommitteeStatus']?['Value'], 'Approved')), 'Committee', 'Unknown')))}"
                  }
                ]
              }
            },
            "Get_Compliance_Users_from_Roles": {
              "runAfter": {
                "Determine_which_team_approved": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e9f4a25c-7b81-4d32-9c1e-8f5a2d7b6c4a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline_1",
                  "operationId": "GetItems",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "@parameters('ENV_ATS_SharepointSite (jlem_ENV_ATS_SharepointSite)')",
                  "table": "@parameters('ENV_ATS_SharePointList_Roles (jlem_ENV_ATS_SharePointList_Roles)')",
                  "$filter": "Role eq 'Compliance'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "For_each_Compliance_User_send_Notification": {
              "foreach": "@outputs('Get_Compliance_Users_from_Roles')?['body/value']",
              "actions": {
                "Check_if_its_production": {
                  "actions": {
                    "Send_an_email_(V2)_-_Production": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "c5d8e3a2-9f7b-4e21-a6c4-1b8d5e2a7f9c"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_office365_1",
                          "operationId": "SendEmailV2",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                        },
                        "parameters": {
                          "emailMessage/To": "@items('For_each_Compliance_User_send_Notification')?['User/Email']",
                          "emailMessage/Subject": "[ATS Team Approved] @{variables('ApprovedTeam')} - @{triggerOutputs()?['body/Title']}",
                          "emailMessage/Body": "<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"margin: 0; padding: 0; font-family: Montserrat, Verdana, system-ui, sans-serif; background-color: #f5f5f5;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width: 600px; margin: 0 auto; background-color: #ffffff;\">\n        \n        <!-- Header -->\n        <tr>\n            <td style=\"background-color: #25303B; padding: 20px 30px;\">\n                <h1 style=\"color: #ffffff; margin: 0; font-size: 22px; font-weight: 600;\">\n                    Team Approval: @{variables('ApprovedTeam')}\n                </h1>\n            </td>\n        </tr>\n        \n        <!-- Green accent line for approval -->\n        <tr>\n            <td style=\"background-color: #10B981; height: 4px;\"></td>\n        </tr>\n        \n        <!-- Content -->\n        <tr>\n            <td style=\"padding: 30px;\">\n                <p style=\"color: #25303B; font-size: 14px; line-height: 1.6; margin: 0 0 20px 0;\">\n                    The <strong>@{variables('ApprovedTeam')}</strong> team has approved an ATS request. Please review the approval.\n                </p>\n                \n                <!-- Details Table -->\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border: 1px solid #E5E7EB; border-radius: 4px;\">\n                    <tr>\n                        <td colspan=\"2\" style=\"background-color: #F8F9FA; padding: 12px 16px; border-bottom: 1px solid #E5E7EB;\">\n                            <strong style=\"color: #25303B; font-size: 14px;\">Request Details</strong>\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; width: 140px; color: #6B7280; font-size: 13px;\">\n                            ATS Name\n                        </td>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #25303B; font-size: 13px; font-weight: 600;\">\n                            @{triggerOutputs()?['body/Title']}\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #6B7280; font-size: 13px;\">\n                            Approved By Team\n                        </td>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #25303B; font-size: 13px;\">\n                            <span style=\"display: inline-block; background-color: #10B981; color: white; padding: 4px 12px; border-radius: 4px; font-weight: 600;\">@{variables('ApprovedTeam')}</span>\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #6B7280; font-size: 13px;\">\n                            Submitted By\n                        </td>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #25303B; font-size: 13px;\">\n                            @{triggerOutputs()?['body/Author/DisplayName']}\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #6B7280; font-size: 13px;\">\n                            ATS Type\n                        </td>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #25303B; font-size: 13px;\">\n                            @{triggerOutputs()?['body/ATSType/Value']}\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #6B7280; font-size: 13px;\">\n                            Desk\n                        </td>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #25303B; font-size: 13px;\">\n                            @{triggerOutputs()?['body/DeskName']}\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #6B7280; font-size: 13px;\">\n                            Book\n                        </td>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #25303B; font-size: 13px;\">\n                            @{triggerOutputs()?['body/BookName']}\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 12px 16px; color: #6B7280; font-size: 13px;\">\n                            System Status\n                        </td>\n                        <td style=\"padding: 12px 16px; color: #25303B; font-size: 13px;\">\n                            @{triggerOutputs()?['body/SystemStatus/Value']}\n                        </td>\n                    </tr>\n                </table>\n                \n                <!-- Status Summary -->\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border: 1px solid #E5E7EB; border-radius: 4px; margin-top: 20px;\">\n                    <tr>\n                        <td style=\"background-color: #F8F9FA; padding: 12px 16px; border-bottom: 1px solid #E5E7EB;\">\n                            <strong style=\"color: #25303B; font-size: 14px;\">Review Status</strong>\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 16px;\">\n                            <table width=\"100%\" cellpadding=\"4\" cellspacing=\"0\">\n                                <tr>\n                                    <td style=\"color: #6B7280; font-size: 13px; width: 140px;\">IT Status:</td>\n                                    <td style=\"color: #25303B; font-size: 13px; font-weight: 600;\">@{triggerOutputs()?['body/ITStatus/Value']}</td>\n                                </tr>\n                                <tr>\n                                    <td style=\"color: #6B7280; font-size: 13px;\">Market Risk Status:</td>\n                                    <td style=\"color: #25303B; font-size: 13px; font-weight: 600;\">@{triggerOutputs()?['body/MarketRiskStatus/Value']}</td>\n                                </tr>\n                                <tr>\n                                    <td style=\"color: #6B7280; font-size: 13px;\">Committee Status:</td>\n                                    <td style=\"color: #25303B; font-size: 13px; font-weight: 600;\">@{triggerOutputs()?['body/CommitteeStatus/Value']}</td>\n                                </tr>\n                                <tr>\n                                    <td style=\"color: #6B7280; font-size: 13px;\">Compliance Status:</td>\n                                    <td style=\"color: #25303B; font-size: 13px; font-weight: 600;\">@{triggerOutputs()?['body/ComplianceStatus/Value']}</td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n                \n                <!-- Description Section -->\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border: 1px solid #E5E7EB; border-radius: 4px; margin-top: 20px;\">\n                    <tr>\n                        <td style=\"background-color: #F8F9FA; padding: 12px 16px; border-bottom: 1px solid #E5E7EB;\">\n                            <strong style=\"color: #25303B; font-size: 14px;\">Description</strong>\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 16px; color: #25303B; font-size: 13px; line-height: 1.6;\">\n                            @{triggerOutputs()?['body/ATSDescription']}\n                        </td>\n                    </tr>\n                </table>\n                \n                <!-- Action Button -->\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-top: 30px;\">\n                    <tr>\n                        <td align=\"center\">\n                            <a href=\"[APP_URL]\" style=\"display: inline-block; background-color: #10B981; color: #ffffff; text-decoration: none; padding: 12px 32px; border-radius: 4px; font-size: 14px; font-weight: 600;\">\n                                Review Request\n                            </a>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Footer -->\n        <tr>\n            <td style=\"background-color: #25303B; padding: 20px 30px;\">\n                <p style=\"color: #9CA3AF; font-size: 12px; line-height: 1.5; margin: 0;\">\n                    This is an automated notification from the ATS Management System.<br>\n                    Please do not reply to this email.\n                </p>\n            </td>\n        </tr>\n        \n    </table>\n</body>\n</html>\n",
                          "emailMessage/Importance": "Normal"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "Send_an_email_(V2)_-_Development": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "d7f9a4e1-8c6b-4d32-b5e7-2f9c8a1d3e6b"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_office365_1",
                            "operationId": "SendEmailV2",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                          },
                          "parameters": {
                            "emailMessage/To": "jan.lemon@ezpada.com",
                            "emailMessage/Subject": "[DEV] [ATS Team Approved] @{variables('ApprovedTeam')} - @{triggerOutputs()?['body/Title']}",
                            "emailMessage/Body": "<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"margin: 0; padding: 0; font-family: Montserrat, Verdana, system-ui, sans-serif; background-color: #f5f5f5;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width: 600px; margin: 0 auto; background-color: #ffffff;\">\n        \n        <!-- Header -->\n        <tr>\n            <td style=\"background-color: #25303B; padding: 20px 30px;\">\n                <h1 style=\"color: #ffffff; margin: 0; font-size: 22px; font-weight: 600;\">\n                    Team Approval: @{variables('ApprovedTeam')}\n                </h1>\n                <p style=\"color: #FCD34D; margin: 10px 0 0 0; font-size: 12px; font-weight: 600;\">\n                    🧪 DEVELOPMENT ENVIRONMENT\n                </p>\n            </td>\n        </tr>\n        \n        <!-- Green accent line for approval -->\n        <tr>\n            <td style=\"background-color: #10B981; height: 4px;\"></td>\n        </tr>\n        \n        <!-- Content -->\n        <tr>\n            <td style=\"padding: 30px;\">\n                <div style=\"background-color: #FEF3C7; border-left: 4px solid #F59E0B; padding: 12px 16px; margin-bottom: 20px;\">\n                    <p style=\"margin: 0; color: #92400E; font-size: 13px; font-weight: 600;\">\n                        ⚠️ DEV MODE: This email would be sent to Compliance team in production\n                    </p>\n                </div>\n                \n                <p style=\"color: #25303B; font-size: 14px; line-height: 1.6; margin: 0 0 20px 0;\">\n                    The <strong>@{variables('ApprovedTeam')}</strong> team has approved an ATS request. Please review the approval.\n                </p>\n                \n                <!-- Details Table -->\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border: 1px solid #E5E7EB; border-radius: 4px;\">\n                    <tr>\n                        <td colspan=\"2\" style=\"background-color: #F8F9FA; padding: 12px 16px; border-bottom: 1px solid #E5E7EB;\">\n                            <strong style=\"color: #25303B; font-size: 14px;\">Request Details</strong>\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; width: 140px; color: #6B7280; font-size: 13px;\">\n                            ATS Name\n                        </td>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #25303B; font-size: 13px; font-weight: 600;\">\n                            @{triggerOutputs()?['body/Title']}\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #6B7280; font-size: 13px;\">\n                            Approved By Team\n                        </td>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #25303B; font-size: 13px;\">\n                            <span style=\"display: inline-block; background-color: #10B981; color: white; padding: 4px 12px; border-radius: 4px; font-weight: 600;\">@{variables('ApprovedTeam')}</span>\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #6B7280; font-size: 13px;\">\n                            Submitted By\n                        </td>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #25303B; font-size: 13px;\">\n                            @{triggerOutputs()?['body/Author/DisplayName']}\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #6B7280; font-size: 13px;\">\n                            ATS Type\n                        </td>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #25303B; font-size: 13px;\">\n                            @{triggerOutputs()?['body/ATSType/Value']}\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #6B7280; font-size: 13px;\">\n                            Desk\n                        </td>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #25303B; font-size: 13px;\">\n                            @{triggerOutputs()?['body/DeskName']}\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #6B7280; font-size: 13px;\">\n                            Book\n                        </td>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #25303B; font-size: 13px;\">\n                            @{triggerOutputs()?['body/BookName']}\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 12px 16px; color: #6B7280; font-size: 13px;\">\n                            System Status\n                        </td>\n                        <td style=\"padding: 12px 16px; color: #25303B; font-size: 13px;\">\n                            @{triggerOutputs()?['body/SystemStatus/Value']}\n                        </td>\n                    </tr>\n                </table>\n                \n                <!-- Status Summary -->\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border: 1px solid #E5E7EB; border-radius: 4px; margin-top: 20px;\">\n                    <tr>\n                        <td style=\"background-color: #F8F9FA; padding: 12px 16px; border-bottom: 1px solid #E5E7EB;\">\n                            <strong style=\"color: #25303B; font-size: 14px;\">Review Status</strong>\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 16px;\">\n                            <table width=\"100%\" cellpadding=\"4\" cellspacing=\"0\">\n                                <tr>\n                                    <td style=\"color: #6B7280; font-size: 13px; width: 140px;\">IT Status:</td>\n                                    <td style=\"color: #25303B; font-size: 13px; font-weight: 600;\">@{triggerOutputs()?['body/ITStatus/Value']}</td>\n                                </tr>\n                                <tr>\n                                    <td style=\"color: #6B7280; font-size: 13px;\">Market Risk Status:</td>\n                                    <td style=\"color: #25303B; font-size: 13px; font-weight: 600;\">@{triggerOutputs()?['body/MarketRiskStatus/Value']}</td>\n                                </tr>\n                                <tr>\n                                    <td style=\"color: #6B7280; font-size: 13px;\">Committee Status:</td>\n                                    <td style=\"color: #25303B; font-size: 13px; font-weight: 600;\">@{triggerOutputs()?['body/CommitteeStatus/Value']}</td>\n                                </tr>\n                                <tr>\n                                    <td style=\"color: #6B7280; font-size: 13px;\">Compliance Status:</td>\n                                    <td style=\"color: #25303B; font-size: 13px; font-weight: 600;\">@{triggerOutputs()?['body/ComplianceStatus/Value']}</td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n                \n                <!-- Description Section -->\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border: 1px solid #E5E7EB; border-radius: 4px; margin-top: 20px;\">\n                    <tr>\n                        <td style=\"background-color: #F8F9FA; padding: 12px 16px; border-bottom: 1px solid #E5E7EB;\">\n                            <strong style=\"color: #25303B; font-size: 14px;\">Description</strong>\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 16px; color: #25303B; font-size: 13px; line-height: 1.6;\">\n                            @{triggerOutputs()?['body/ATSDescription']}\n                        </td>\n                    </tr>\n                </table>\n                \n                <!-- Action Button -->\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-top: 30px;\">\n                    <tr>\n                        <td align=\"center\">\n                            <a href=\"[APP_URL]\" style=\"display: inline-block; background-color: #10B981; color: #ffffff; text-decoration: none; padding: 12px 32px; border-radius: 4px; font-size: 14px; font-weight: 600;\">\n                                Review Request\n                            </a>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Footer -->\n        <tr>\n            <td style=\"background-color: #25303B; padding: 20px 30px;\">\n                <p style=\"color: #9CA3AF; font-size: 12px; line-height: 1.5; margin: 0;\">\n                    This is an automated notification from the ATS Management System.<br>\n                    Please do not reply to this email.\n                </p>\n            </td>\n        </tr>\n        \n    </table>\n</body>\n</html>\n",
                            "emailMessage/Importance": "Normal"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@parameters('ATS_Environment (jlem_ATS_Environment)')",
                      "PROD"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "f8e2c9b7-a5d4-4e31-b6f8-3a9c1d5e7b2f"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Get_Compliance_Users_from_Roles": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "aa7b4e9d-c5f8-4d21-a9e6-2f8c3d1b5e7a"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "b9c5e3a7-d8f1-4e22-a6c9-1f7d2a4b8e5c"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}
