extracted/Workflows/Flow-ATSSubmitted-NotifyReviewers-D6A4CF53-F800-F111-8406-7C1E52735CEC.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "jlem_ConnRef_ATS_Tracker_Sharepoint"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_office365_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "jlem_ConnRefATSTrackerOutlook"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "ATS_Environment (jlem_ATS_Environment)": {
          "defaultValue": "DEV",
          "type": "String",
          "metadata": {
            "schemaName": "jlem_ATS_Environment",
            "description": "DEV | PROD"
          }
        },
        "ENV_ATS_SharePointList_Roles (jlem_ENV_ATS_SharePointList_Roles)": {
          "defaultValue": "d83f42f7-04a7-4e5e-ad36-9a6dd976c74b",
          "type": "String",
          "metadata": {
            "schemaName": "jlem_ENV_ATS_SharePointList_Roles"
          }
        },
        "ENV_ATS_SharePointList_Requests (jlem_ENV_ATS_SharePointList_Requests)": {
          "defaultValue": "8abbb77f-a11b-4bce-bde7-c87023abbd60",
          "type": "String",
          "metadata": {
            "schemaName": "jlem_ENV_ATS_SharePointList_Requests"
          }
        },
        "ENV_ATS_SharepointSite (jlem_ENV_ATS_SharepointSite)": {
          "defaultValue": "https://ezpada.sharepoint.com/sites/ats",
          "type": "String",
          "metadata": {
            "schemaName": "jlem_ENV_ATS_SharepointSite"
          }
        },
        "ENV_ATS_App_URL (jlem_ENV_ATS_App_URL)": {
          "defaultValue": "https://apps.powerapps.com/play/e/163728a9-86f2-e32a-92ec-34fb2671bb5b/app/c3fcfafe-dedf-4dd7-a474-dd1aa6a1862b?tenantId=74a701ce-2508-4273-a59a-ce1aca46ce0f",
          "type": "String",
          "metadata": {
            "schemaName": "jlem_ENV_ATS_App_URL",
            "description": "ATS Tracker Application URL"
          }
        }
      },
      "triggers": {
        "When_an_item_is_created_or_modified": {
          "recurrence": {
            "interval": 1,
            "frequency": "Minute"
          },
          "splitOn": "@triggerOutputs()?['body/value']",
          "metadata": {
            "operationMetadataId": "edb37666-728c-4281-b6c3-18d985355ada"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline_1",
              "operationId": "GetOnUpdatedItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@parameters('ENV_ATS_SharepointSite (jlem_ENV_ATS_SharepointSite)')",
              "table": "@parameters('ENV_ATS_SharePointList_Requests (jlem_ENV_ATS_SharePointList_Requests)')"
            },
            "authentication": "@parameters('$authentication')"
          },
          "conditions": [
            {
              "expression": "@equals(triggerBody()?['SystemStatus']?['Value'], 'Submitted')"
            }
          ]
        }
      },
      "actions": {
        "Scope": {
          "actions": {
            "Get_Persons_from_Roles": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "9a69e19f-d344-4ed7-9f2d-65280fa06d8d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline_1",
                  "operationId": "GetItems",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "@parameters('ENV_ATS_SharepointSite (jlem_ENV_ATS_SharepointSite)')",
                  "table": "@parameters('ENV_ATS_SharePointList_Roles (jlem_ENV_ATS_SharePointList_Roles)')",
                  "$filter": "Role eq 'Compliance' or Role eq 'IT' or Role eq 'Market Risk' or Role eq 'Committee'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "For_each_Compliance_,_IT,_Market_Risk,_Committee_send_Notification": {
              "foreach": "@outputs('Get_Persons_from_Roles')?['body/value']",
              "actions": {
                "Check_if_its_production": {
                  "actions": {
                    "Send_an_email_(V2)": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "4a69cd89-3598-4cec-b51b-9e3652e943d1"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_office365_1",
                          "operationId": "SendEmailV2",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                        },
                        "parameters": {
                          "emailMessage/To": "@items('For_each_Compliance_,_IT,_Market_Risk,_Committee_send_Notification')?['User/Email']",
                          "emailMessage/Subject": "[ATS Submitted] @{triggerOutputs()?['body/Title']}",
                          "emailMessage/Body": "<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"margin: 0; padding: 0; font-family: Montserrat, Verdana, system-ui, sans-serif; background-color: #f5f5f5;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width: 600px; margin: 0 auto; background-color: #ffffff;\">\n        \n        <!-- Header -->\n        <tr>\n            <td style=\"background-color: #25303B; padding: 20px 30px;\">\n                <h1 style=\"color: #ffffff; margin: 0; font-size: 22px; font-weight: 600;\">\n                    ATS Request Submitted\n                </h1>\n            </td>\n        </tr>\n        \n        <!-- Red accent line -->\n        <tr>\n            <td style=\"background-color: #E40046; height: 4px;\"></td>\n        </tr>\n        \n        <!-- Content -->\n        <tr>\n            <td style=\"padding: 30px;\">\n                <p style=\"color: #25303B; font-size: 14px; line-height: 1.6; margin: 0 0 20px 0;\">\n                    A new ATS request has been submitted and requires your review.\n                </p>\n                \n                <!-- Details Table -->\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border: 1px solid #E5E7EB; border-radius: 4px;\">\n                    <tr>\n                        <td colspan=\"2\" style=\"background-color: #F8F9FA; padding: 12px 16px; border-bottom: 1px solid #E5E7EB;\">\n                            <strong style=\"color: #25303B; font-size: 14px;\">Request Details</strong>\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; width: 140px; color: #6B7280; font-size: 13px;\">\n                            ATS Name\n                        </td>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #25303B; font-size: 13px; font-weight: 600;\">\n                            @{triggerOutputs()?['body/Title']}\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #6B7280; font-size: 13px;\">\n                            Submitted By\n                        </td>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #25303B; font-size: 13px;\">\n                            @{triggerOutputs()?['body/Author/DisplayName']}\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #6B7280; font-size: 13px;\">\n                            ATS Type\n                        </td>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #25303B; font-size: 13px;\">\n                            @{triggerOutputs()?['body/ATSType/Value']}\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #6B7280; font-size: 13px;\">\n                            Desk\n                        </td>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #25303B; font-size: 13px;\">\n                            @{triggerOutputs()?['body/DeskName']}\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #6B7280; font-size: 13px;\">\n                            Book\n                        </td>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #25303B; font-size: 13px;\">\n                            @{triggerOutputs()?['body/BookName']}\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 12px 16px; color: #6B7280; font-size: 13px;\">\n                            Front End\n                        </td>\n                        <td style=\"padding: 12px 16px; color: #25303B; font-size: 13px;\">\n                            @{triggerOutputs()?['body/FrontEnd']}\n                        </td>\n                    </tr>\n                </table>\n                \n                <!-- Description Section -->\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border: 1px solid #E5E7EB; border-radius: 4px; margin-top: 20px;\">\n                    <tr>\n                        <td style=\"background-color: #F8F9FA; padding: 12px 16px; border-bottom: 1px solid #E5E7EB;\">\n                            <strong style=\"color: #25303B; font-size: 14px;\">Description</strong>\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 16px; color: #25303B; font-size: 13px; line-height: 1.6;\">\n                            @{triggerOutputs()?['body/ATSDescription']}\n                        </td>\n                    </tr>\n                </table>\n                \n                <!-- Action Button -->\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-top: 30px;\">\n                    <tr>\n                        <td align=\"center\">\n                            <a href=\"@{parameters('ENV_ATS_App_URL (jlem_ENV_ATS_App_URL)')}\" style=\"display: inline-block; background-color: #E40046; color: #ffffff; text-decoration: none; padding: 12px 32px; border-radius: 4px; font-size: 14px; font-weight: 600;\">\n                                Review Request\n                            </a>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Footer -->\n        <tr>\n            <td style=\"background-color: #25303B; padding: 20px 30px;\">\n                <p style=\"color: #9CA3AF; font-size: 12px; line-height: 1.5; margin: 0;\">\n                    This is an automated notification from the ATS Management System.<br>\n                    Please do not reply to this email.\n                </p>\n            </td>\n        </tr>\n        \n    </table>\n</body>\n</html>\n",
                          "emailMessage/Importance": "Normal"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "Send_an_email_(V2)_2": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "4a69cd89-3598-4cec-b51b-9e3652e943d1"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_office365_1",
                            "operationId": "SendEmailV2",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                          },
                          "parameters": {
                            "emailMessage/To": "jan.lemon@ezpada.com",
                            "emailMessage/Subject": "[ATS Submitted] @{triggerOutputs()?['body/Title']}",
                            "emailMessage/Body": "<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"margin: 0; padding: 0; font-family: Montserrat, Verdana, system-ui, sans-serif; background-color: #f5f5f5;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width: 600px; margin: 0 auto; background-color: #ffffff;\">\n        \n        <!-- Header -->\n        <tr>\n            <td style=\"background-color: #25303B; padding: 20px 30px;\">\n                <h1 style=\"color: #ffffff; margin: 0; font-size: 22px; font-weight: 600;\">\n                    ATS Request Submitted\n                </h1>\n            </td>\n        </tr>\n        \n        <!-- Red accent line -->\n        <tr>\n            <td style=\"background-color: #E40046; height: 4px;\"></td>\n        </tr>\n        \n        <!-- Content -->\n        <tr>\n            <td style=\"padding: 30px;\">\n                <p style=\"color: #25303B; font-size: 14px; line-height: 1.6; margin: 0 0 20px 0;\">\n                    A new ATS request has been submitted and requires your review.\n                </p>\n                \n                <!-- Details Table -->\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border: 1px solid #E5E7EB; border-radius: 4px;\">\n                    <tr>\n                        <td colspan=\"2\" style=\"background-color: #F8F9FA; padding: 12px 16px; border-bottom: 1px solid #E5E7EB;\">\n                            <strong style=\"color: #25303B; font-size: 14px;\">Request Details</strong>\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; width: 140px; color: #6B7280; font-size: 13px;\">\n                            ATS Name\n                        </td>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #25303B; font-size: 13px; font-weight: 600;\">\n                            @{triggerOutputs()?['body/Title']}\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #6B7280; font-size: 13px;\">\n                            Submitted By\n                        </td>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #25303B; font-size: 13px;\">\n                            @{triggerOutputs()?['body/Author/DisplayName']}\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #6B7280; font-size: 13px;\">\n                            ATS Type\n                        </td>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #25303B; font-size: 13px;\">\n                            @{triggerOutputs()?['body/ATSType/Value']}\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #6B7280; font-size: 13px;\">\n                            Desk\n                        </td>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #25303B; font-size: 13px;\">\n                            @{triggerOutputs()?['body/DeskName']}\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #6B7280; font-size: 13px;\">\n                            Book\n                        </td>\n                        <td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #25303B; font-size: 13px;\">\n                            @{triggerOutputs()?['body/BookName']}\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 12px 16px; color: #6B7280; font-size: 13px;\">\n                            Front End\n                        </td>\n                        <td style=\"padding: 12px 16px; color: #25303B; font-size: 13px;\">\n                            @{triggerOutputs()?['body/FrontEnd']}\n                        </td>\n                    </tr>\n                </table>\n                \n                <!-- Description Section -->\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border: 1px solid #E5E7EB; border-radius: 4px; margin-top: 20px;\">\n                    <tr>\n                        <td style=\"background-color: #F8F9FA; padding: 12px 16px; border-bottom: 1px solid #E5E7EB;\">\n                            <strong style=\"color: #25303B; font-size: 14px;\">Description</strong>\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 16px; color: #25303B; font-size: 13px; line-height: 1.6;\">\n                            @{triggerOutputs()?['body/ATSDescription']}\n                        </td>\n                    </tr>\n                </table>\n                \n                <!-- Action Button -->\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-top: 30px;\">\n                    <tr>\n                        <td align=\"center\">\n                            <a href=\"@{parameters('ENV_ATS_App_URL (jlem_ENV_ATS_App_URL)')}\" style=\"display: inline-block; background-color: #E40046; color: #ffffff; text-decoration: none; padding: 12px 32px; border-radius: 4px; font-size: 14px; font-weight: 600;\">\n                                Review Request\n                            </a>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Footer -->\n        <tr>\n            <td style=\"background-color: #25303B; padding: 20px 30px;\">\n                <p style=\"color: #9CA3AF; font-size: 12px; line-height: 1.5; margin: 0;\">\n                    This is an automated notification from the ATS Management System.<br>\n                    Please do not reply to this email.\n                </p>\n            </td>\n        </tr>\n        \n    </table>\n</body>\n</html>\n",
                            "emailMessage/Importance": "Normal"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@parameters('ATS_Environment (jlem_ATS_Environment)')",
                      "PROD"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "ba893c6a-a28c-4520-a711-a9384f04739a"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Get_Persons_from_Roles": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ee851a47-e7dc-46db-b048-ec235428200a"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "6d59c3c8-a94a-400b-990a-f0d309f7127a"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}