extracted/Workflows/Flow-ATSCommitteeFinalDecision-NotifyAll-50A93CFB-FA0B-F111-8406-000D3ABC01CC.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "jlem_ConnRef_ATS_Tracker_Sharepoint"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_office365_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "jlem_ConnRefATSTrackerOutlook"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "ATS_Environment (jlem_ATS_Environment)": {
          "defaultValue": "DEV",
          "type": "String",
          "metadata": {
            "schemaName": "jlem_ATS_Environment",
            "description": "DEV | PROD"
          }
        },
        "ENV_ATS_SharePointList_Roles (jlem_ENV_ATS_SharePointList_Roles)": {
          "defaultValue": "d83f42f7-04a7-4e5e-ad36-9a6dd976c74b",
          "type": "String",
          "metadata": {
            "schemaName": "jlem_ENV_ATS_SharePointList_Roles"
          }
        },
        "ENV_ATS_SharePointList_Requests (jlem_ENV_ATS_SharePointList_Requests)": {
          "defaultValue": "8abbb77f-a11b-4bce-bde7-c87023abbd60",
          "type": "String",
          "metadata": {
            "schemaName": "jlem_ENV_ATS_SharePointList_Requests"
          }
        },
        "ENV_ATS_SharepointSite (jlem_ENV_ATS_SharepointSite)": {
          "defaultValue": "https://ezpada.sharepoint.com/sites/ats",
          "type": "String",
          "metadata": {
            "schemaName": "jlem_ENV_ATS_SharepointSite"
          }
        },
        "ENV_ATS_App_URL (jlem_ENV_ATS_App_URL)": {
          "defaultValue": "https://apps.powerapps.com/play/e/163728a9-86f2-e32a-92ec-34fb2671bb5b/app/c3fcfafe-dedf-4dd7-a474-dd1aa6a1862b?tenantId=74a701ce-2508-4273-a59a-ce1aca46ce0f",
          "type": "String",
          "metadata": {
            "schemaName": "jlem_ENV_ATS_App_URL",
            "description": "ATS Tracker Application URL"
          }
        }
      },
      "triggers": {
        "When_an_item_is_created_or_modified": {
          "recurrence": {
            "interval": 1,
            "frequency": "Minute"
          },
          "splitOn": "@triggerOutputs()?['body/value']",
          "metadata": {
            "operationMetadataId": "f9141e4c-d004-45af-812d-b1c0d490deb0"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline_1",
              "operationId": "GetOnUpdatedItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@parameters('ENV_ATS_SharepointSite (jlem_ENV_ATS_SharepointSite)')",
              "table": "@parameters('ENV_ATS_SharePointList_Requests (jlem_ENV_ATS_SharePointList_Requests)')"
            },
            "authentication": "@parameters('$authentication')"
          },
          "conditions": [
            {
              "expression": "@or(equals(triggerBody()?['CommitteeStatus']?['Value'], 'Approved'), equals(triggerBody()?['CommitteeStatus']?['Value'], 'Rejected'))"
            }
          ]
        }
      },
      "actions": {
        "Initialize_Recipients": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "1a2b3c4d-5e6f-7g8h-9i0j-1k2l3m4n5o6p"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "AllRecipients",
                "type": "array"
              }
            ]
          }
        },
        "Scope": {
          "actions": {
            "Get_TDO_Users": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "2b3c4d5e-6f7g-8h9i-0j1k-2l3m4n5o6p7q"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline_1",
                  "operationId": "GetItems",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "@parameters('ENV_ATS_SharepointSite (jlem_ENV_ATS_SharepointSite)')",
                  "table": "@parameters('ENV_ATS_SharePointList_Roles (jlem_ENV_ATS_SharePointList_Roles)')",
                  "$filter": "Role eq 'TDO'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_Review_Teams": {
              "runAfter": {
                "Get_TDO_Users": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3c4d5e6f-7g8h-9i0j-1k2l-3m4n5o6p7q8r"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline_1",
                  "operationId": "GetItems",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "@parameters('ENV_ATS_SharepointSite (jlem_ENV_ATS_SharepointSite)')",
                  "table": "@parameters('ENV_ATS_SharePointList_Roles (jlem_ENV_ATS_SharePointList_Roles)')",
                  "$filter": "(Role eq 'IT') or (Role eq 'Market Risk') or (Role eq 'Compliance')"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_Committee_Members": {
              "runAfter": {
                "Get_Review_Teams": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "4d5e6f7g-8h9i-0j1k-2l3m-4n5o6p7q8r9s"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline_1",
                  "operationId": "GetItems",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "@parameters('ENV_ATS_SharepointSite (jlem_ENV_ATS_SharepointSite)')",
                  "table": "@parameters('ENV_ATS_SharePointList_Roles (jlem_ENV_ATS_SharePointList_Roles)')",
                  "$filter": "Role eq 'Committee'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Append_TDO_Users": {
              "foreach": "@outputs('Get_TDO_Users')?['body/value']",
              "actions": {
                "Append_TDO_to_array": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "5e6f7g8h-9i0j-1k2l-3m4n-5o6p7q8r9s0t"
                  },
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "AllRecipients",
                    "value": "@items('Append_TDO_Users')?['User/Email']"
                  }
                }
              },
              "runAfter": {
                "Get_Committee_Members": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6f7g8h9i-0j1k-2l3m-4n5o-6p7q8r9s0t1u"
              },
              "type": "Foreach"
            },
            "Append_Review_Teams": {
              "foreach": "@outputs('Get_Review_Teams')?['body/value']",
              "actions": {
                "Append_ReviewTeam_to_array": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "7g8h9i0j-1k2l-3m4n-5o6p-7q8r9s0t1u2v"
                  },
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "AllRecipients",
                    "value": "@items('Append_Review_Teams')?['User/Email']"
                  }
                }
              },
              "runAfter": {
                "Append_TDO_Users": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "8h9i0j1k-2l3m-4n5o-6p7q-8r9s0t1u2v3w"
              },
              "type": "Foreach"
            },
            "Append_Committee_Members": {
              "foreach": "@outputs('Get_Committee_Members')?['body/value']",
              "actions": {
                "Append_Committee_to_array": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "9i0j1k2l-3m4n-5o6p-7q8r-9s0t1u2v3w4x"
                  },
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "AllRecipients",
                    "value": "@items('Append_Committee_Members')?['User/Email']"
                  }
                }
              },
              "runAfter": {
                "Append_Review_Teams": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0j1k2l3m-4n5o-6p7q-8r9s-0t1u2v3w4x5y"
              },
              "type": "Foreach"
            },
            "Append_Submitter": {
              "runAfter": {
                "Append_Committee_Members": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1k2l3m4n-5o6p-7q8r-9s0t-1u2v3w4x5y6z"
              },
              "type": "AppendToArrayVariable",
              "inputs": {
                "name": "AllRecipients",
                "value": "@triggerBody()?['Author/Email']"
              }
            },
            "For_each_Recipient": {
              "foreach": "@variables('AllRecipients')",
              "actions": {
                "Check_if_Production": {
                  "actions": {
                    "Send_email_Production": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "2l3m4n5o-6p7q-8r9s-0t1u-2v3w4x5y6z7a"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_office365_1",
                          "operationId": "SendEmailV2",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                        },
                        "parameters": {
                          "emailMessage/To": "@items('For_each_Recipient')",
                          "emailMessage/Subject": "[ATS Committee Decision] @{triggerBody()?['CommitteeStatus']?['Value']} - @{triggerBody()?['Title']}",
                          "emailMessage/Body": "<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"margin: 0; padding: 0; font-family: Montserrat, Verdana, system-ui, sans-serif; background-color: #f5f5f5;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width: 600px; margin: 0 auto; background-color: #ffffff;\">\n        <tr>\n            <td style=\"background-color: #25303B; padding: 20px 30px;\">\n                <h1 style=\"color: #ffffff; margin: 0; font-size: 22px; font-weight: 600;\">Committee Final Decision: @{triggerBody()?['CommitteeStatus']?['Value']}</h1>\n            </td>\n        </tr>\n        <tr>\n            <td style=\"background-color: @{if(equals(triggerBody()?['CommitteeStatus']?['Value'], 'Approved'), '#10B981', '#EF4444')}; height: 4px;\"></td>\n        </tr>\n        <tr>\n            <td style=\"padding: 30px;\">\n                <p style=\"color: #25303B; font-size: 14px; line-height: 1.6; margin: 0 0 20px 0;\">The ATS Committee has made a <strong>@{triggerBody()?['CommitteeStatus']?['Value']}</strong> decision on this ATS request.</p>\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border: 1px solid #E5E7EB; border-radius: 4px;\">\n                    <tr><td colspan=\"2\" style=\"background-color: #F8F9FA; padding: 12px 16px; border-bottom: 1px solid #E5E7EB;\"><strong style=\"color: #25303B; font-size: 14px;\">Request Details</strong></td></tr>\n                    <tr><td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; width: 140px; color: #6B7280; font-size: 13px;\">ATS Name</td><td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #25303B; font-size: 13px; font-weight: 600;\">@{triggerBody()?['Title']}</td></tr>\n                    <tr><td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #6B7280; font-size: 13px;\">Committee Decision</td><td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #25303B; font-size: 13px;\"><span style=\"display: inline-block; background-color: @{if(equals(triggerBody()?['CommitteeStatus']?['Value'], 'Approved'), '#10B981', '#EF4444')}; color: white; padding: 4px 12px; border-radius: 4px; font-weight: 600;\">@{triggerBody()?['CommitteeStatus']?['Value']}</span></td></tr>\n                    <tr><td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #6B7280; font-size: 13px;\">Submitted By</td><td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #25303B; font-size: 13px;\">@{triggerBody()?['Author/DisplayName']}</td></tr>\n                    <tr><td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #6B7280; font-size: 13px;\">ATS Type</td><td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #25303B; font-size: 13px;\">@{triggerBody()?['ATSType']?['Value']}</td></tr>\n                    <tr><td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #6B7280; font-size: 13px;\">IT Status</td><td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #25303B; font-size: 13px;\">@{triggerBody()?['ITStatus']?['Value']}</td></tr>\n                    <tr><td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #6B7280; font-size: 13px;\">Market Risk Status</td><td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #25303B; font-size: 13px;\">@{triggerBody()?['MarketRiskStatus']?['Value']}</td></tr>\n                    <tr><td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #6B7280; font-size: 13px;\">Compliance Status</td><td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #25303B; font-size: 13px;\">@{triggerBody()?['ComplianceStatus']?['Value']}</td></tr>\n                    <tr><td style=\"padding: 12px 16px; color: #6B7280; font-size: 13px;\">System Status</td><td style=\"padding: 12px 16px; color: #25303B; font-size: 13px;\">@{triggerBody()?['SystemStatus']?['Value']}</td></tr>\n                </table>\n                <div style=\"text-align: center; margin-top: 30px;\">\n                    <a href=\"@{parameters('ENV_ATS_App_URL (jlem_ENV_ATS_App_URL)')}\" style=\"display: inline-block; background-color: #3B82F6; color: white; padding: 12px 24px; text-decoration: none; border-radius: 4px; font-weight: 600;\">Open ATS Tracker</a>\n                </div>\n            </td>\n        </tr>\n        <tr>\n            <td style=\"background-color: #25303B; padding: 20px 30px;\">\n                <p style=\"color: #9CA3AF; font-size: 12px; line-height: 1.5; margin: 0;\">This is an automated notification from the ATS Management System.<br>Please do not reply to this email.</p>\n            </td>\n        </tr>\n    </table>\n</body>\n</html>",
                          "emailMessage/Importance": "High"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "Send_email_Development": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "3m4n5o6p-7q8r-9s0t-1u2v-3w4x5y6z7a8b"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_office365_1",
                            "operationId": "SendEmailV2",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                          },
                          "parameters": {
                            "emailMessage/To": "jan.lemon@ezpada.com",
                            "emailMessage/Subject": "[DEV] [ATS Committee Decision] @{triggerBody()?['CommitteeStatus']?['Value']} - @{triggerBody()?['Title']}",
                            "emailMessage/Body": "<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"margin: 0; padding: 0; font-family: Montserrat, Verdana, system-ui, sans-serif; background-color: #f5f5f5;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width: 600px; margin: 0 auto; background-color: #ffffff;\">\n        <tr>\n            <td style=\"background-color: #25303B; padding: 20px 30px;\">\n                <h1 style=\"color: #ffffff; margin: 0; font-size: 22px; font-weight: 600;\">Committee Final Decision: @{triggerBody()?['CommitteeStatus']?['Value']}</h1>\n                <p style=\"color: #FCD34D; margin: 10px 0 0 0; font-size: 12px; font-weight: 600;\">DEVELOPMENT ENVIRONMENT</p>\n            </td>\n        </tr>\n        <tr>\n            <td style=\"background-color: @{if(equals(triggerBody()?['CommitteeStatus']?['Value'], 'Approved'), '#10B981', '#EF4444')}; height: 4px;\"></td>\n        </tr>\n        <tr>\n            <td style=\"padding: 30px;\">\n                <div style=\"background-color: #FEF3C7; border-left: 4px solid #F59E0B; padding: 12px 16px; margin-bottom: 20px;\">\n                    <p style=\"margin: 0; color: #92400E; font-size: 13px; font-weight: 600;\">DEV MODE: This email would be sent to TDO, Submitter, Review Teams, and Committee members in production</p>\n                    <p style=\"margin: 8px 0 0 0; color: #92400E; font-size: 12px;\">Intended recipient: @{items('For_each_Recipient')}</p>\n                </div>\n                <p style=\"color: #25303B; font-size: 14px; line-height: 1.6; margin: 0 0 20px 0;\">The ATS Committee has made a <strong>@{triggerBody()?['CommitteeStatus']?['Value']}</strong> decision on this ATS request.</p>\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border: 1px solid #E5E7EB; border-radius: 4px;\">\n                    <tr><td colspan=\"2\" style=\"background-color: #F8F9FA; padding: 12px 16px; border-bottom: 1px solid #E5E7EB;\"><strong style=\"color: #25303B; font-size: 14px;\">Request Details</strong></td></tr>\n                    <tr><td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; width: 140px; color: #6B7280; font-size: 13px;\">ATS Name</td><td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #25303B; font-size: 13px; font-weight: 600;\">@{triggerBody()?['Title']}</td></tr>\n                    <tr><td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #6B7280; font-size: 13px;\">Committee Decision</td><td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #25303B; font-size: 13px;\"><span style=\"display: inline-block; background-color: @{if(equals(triggerBody()?['CommitteeStatus']?['Value'], 'Approved'), '#10B981', '#EF4444')}; color: white; padding: 4px 12px; border-radius: 4px; font-weight: 600;\">@{triggerBody()?['CommitteeStatus']?['Value']}</span></td></tr>\n                    <tr><td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #6B7280; font-size: 13px;\">Submitted By</td><td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #25303B; font-size: 13px;\">@{triggerBody()?['Author/DisplayName']}</td></tr>\n                    <tr><td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #6B7280; font-size: 13px;\">ATS Type</td><td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #25303B; font-size: 13px;\">@{triggerBody()?['ATSType']?['Value']}</td></tr>\n                    <tr><td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #6B7280; font-size: 13px;\">IT Status</td><td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #25303B; font-size: 13px;\">@{triggerBody()?['ITStatus']?['Value']}</td></tr>\n                    <tr><td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #6B7280; font-size: 13px;\">Market Risk Status</td><td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #25303B; font-size: 13px;\">@{triggerBody()?['MarketRiskStatus']?['Value']}</td></tr>\n                    <tr><td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #6B7280; font-size: 13px;\">Compliance Status</td><td style=\"padding: 12px 16px; border-bottom: 1px solid #E5E7EB; color: #25303B; font-size: 13px;\">@{triggerBody()?['ComplianceStatus']?['Value']}</td></tr>\n                    <tr><td style=\"padding: 12px 16px; color: #6B7280; font-size: 13px;\">System Status</td><td style=\"padding: 12px 16px; color: #25303B; font-size: 13px;\">@{triggerBody()?['SystemStatus']?['Value']}</td></tr>\n                </table>\n                <div style=\"text-align: center; margin-top: 30px;\">\n                    <a href=\"@{parameters('ENV_ATS_App_URL (jlem_ENV_ATS_App_URL)')}\" style=\"display: inline-block; background-color: #3B82F6; color: white; padding: 12px 24px; text-decoration: none; border-radius: 4px; font-weight: 600;\">Open ATS Tracker</a>\n                </div>\n            </td>\n        </tr>\n        <tr>\n            <td style=\"background-color: #25303B; padding: 20px 30px;\">\n                <p style=\"color: #9CA3AF; font-size: 12px; line-height: 1.5; margin: 0;\">This is an automated notification from the ATS Management System.<br>Please do not reply to this email.</p>\n            </td>\n        </tr>\n    </table>\n</body>\n</html>",
                            "emailMessage/Importance": "High"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@parameters('ATS_Environment (jlem_ATS_Environment)')",
                      "PROD"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "4n5o6p7q-8r9s-0t1u-2v3w-4x5y6z7a8b9c"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Append_Submitter": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5o6p7q8r-9s0t-1u2v-3w4x-5y6z7a8b9c0d"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Initialize_Recipients": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "98625532-4158-49cd-ae85-4e07ee5567a1"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}